div {
    box-sizing: border-box;
    max-width: 960px;
    margin: auto;
    padding-right: 2em;
    padding-bottom: 2em;
    padding-left: 2em;
    border-right: 1px solid rgba(0,0,0,0.5);
    border-left: 1px solid rgba(0,0,0,0.5);
    border-bottom: 1px solid rgba(0,0,0,0.5);
}