html{
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

*::before {
    box-sizing: inherit;
}

*::after {
    box-sizing: inherit;
}

div {
    
    max-width: 960px;
    margin: auto;
    margin-bottom: 3em;
    padding-right: 2em;
    padding-bottom: 2em;
    padding-left: 2em;
    border-right: 1px solid rgba(0, 0, 0, 0.5);
    border-left: 1px solid rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    overflow: auto;
    background-color: rgb(122, 212, 175);
}

div.bio {
    width: 33.33%;
    column-gap: 2em;
}

div.biotable {
    width: 100%;
    column-gap: 2em;
    margin-top: 1em;
}

div.biotable tr td {
    border-collapse: collapse;
}
div.biotable tr th {
    border-collapse: collapse;
}

img {
    max-width: 100%;
    box-shadow: 5px 10px darkblue;
}

footer {
    font-size: 75%;
    text-align: center;
}

footer hr {
    width: 50vw;
    min-width: 300px;
    max-width: 890px;
    margin-top: 3em;
    margin-bottom: 2em;
    border: none;
    border-bottom: 3px dotted rgb(8, 60, 128);
}
footer a.backtotop {
    text-shadow: darkorange;
    text-decoration: underline;
}
footer a.backtotop:hover {
    text-decoration: none;
}


iframe {
    border-right: 2em;
    border-left: 2em;
}

fieldset {
    padding: 0px;
}

ul li {
    list-style-type: none;
}

ol li {
    list-style-type: upper-roman;
}

dt::after {
    content: ":";
}

body {
    color: rgb(10, 16, 128);
    background-color: rgb(109, 133, 123);
}

h1 {
    color: rgb(10, 16, 128);
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,106,9,1) 0%, rgba(0,244,255,1) 100%);
    background-clip: text;
}
h2 {
    color: rgb(10, 16, 128);
}
h3 {
    color: rgb(10, 16, 128);
}

a {
    text-decoration: none;
    color: rgb(212, 130, 82);
}
a:hover {
    text-decoration: underline;
}
header {
    margin-right: -2em;
    margin-left: -2em;
    border-top: 4px solid rgba(0, 0, 0, 0.1);
}
header nav {
    margin-left: 2em;
    margin-right: 2em;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.3)
}
header nav ul {
    margin: 0px;
    padding: 0px;
}
header nav ul li {
    display: inline;
    font-weight: bold;
    list-style-type: none;
    text-transform: uppercase;
    letter-spacing: 4px;
}

header a {
    color: rgba(92, 17, 82, 0.25);
    border-top: 4px solid rgba(0, 0, 0, 0);
    margin-top: -4px;
    margin-left: 16px;
    margin-right: 16px;
    padding-top: 1em;
    padding-bottom: 0.5em;
    display: inline-block;
}
header a:hover {
    color: rgb(59, 8, 52);
    border-top: 4px solid rgba(0, 0, 0, 0.5)
}

*::selection {
    background-color: rgb(175, 26, 26);
}
table th {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-left: 1.0em;
    padding-right: 1.0em;
    background-color: rgba(0, 0, 0, 0.2);
}
table td {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-left: 1.0em;
    padding-right: 1.0em;
    background-color: rgba(0, 0, 0, 0.05);
}
table tr:nth-child(even) td {
    background-color: rgba(0, 0, 0, 0.15);
}
label {
    display: block;
}
fieldset ul li label {
    display: inline;
}
[type="submit"] {
    border: none;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 3em;
    padding-right: 3em;
    color: rgba(0, 0, 0, 0.5)
}