html{
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

*::before {
    box-sizing: inherit;
}

*::after {
    box-sizing: inherit;
}

div.width-wrap {
    max-width: 960px;
    margin: auto;
    margin-bottom: 3em;
    padding-right: 2em;
    padding-bottom: 2em;
    padding-left: 2em;
    border-right: 1px solid rgba(0, 0, 0, 0.5);
    border-left: 1px solid rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    overflow: auto;
    background-color: rgb(122, 212, 175);
}

.gallery {
    grid-template-columns: 25% 25% 25% 25%;
    line-height: 0;
    column-gap: 10px;
    display: grid;
}

.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery a:hover {
    transform: scale(1.1);
}

.row-span-2 {
    grid-row: span 2;
}

.col-span-2 {
    grid-column: span 2;
}

.Favourites input[type="radio"] {
    display: none;
}

.Favourites {
    display: flex;
    flex-wrap: wrap;
}

.Favourites > label {
    margin: 20px;    
}

.Favourites label {
    order: -1;
}

.hideme {
    display: none;
}

#band:checked ~ #band { 
    display: block;
    width: 100%;
}
#games:checked ~ #games { 
    display: block;
    width: 100%;
    border-bottom: darkblue;
}
#haiku:checked ~ #haiku { 
    display: block;
    width: 100%;
}
#audiobook:checked ~ #audiobook { 
    display: block;
    width: 100%;
}
#video:checked ~ #video { 
    display: block;
    width: 100%;
}

div.bio {
    column-count: 3;
    column-gap: 2em;
    position: relative;
}

div.bio img.paperclip {
    position: absolute;
    top: -60px;
    left: 18%;
    transform: scale(0.5);
}

div.bio table {
    column-span: all;
    margin-top: 1em;
    border-collapse: collapse;
    caption-side: bottom;
}

div.bio img {
    padding: 2%;
    background-color: #fff;
    box-shadow: 5px 10px darkblue;
}

.bio a {
    display: block;
}

img {
    max-width: 100%;
}

img.paperclip {
    box-shadow: none !important;
    background: none !important;
    transform: scale(0.5);
}

footer {
    font-size: 75%;
    text-align: center;
}

footer hr {
    width: 50vw;
    min-width: 300px;
    max-width: 890px;
    margin-top: 3em;
    margin-bottom: 2em;
    border: none;
    border-bottom: 3px dotted rgb(8, 60, 128);
}
footer a.backtotop {
    text-shadow: 1px 1px 2px darkorange;
}
footer a.backtotop:hover {
    text-decoration: none;
}

iframe {
    border-top-right-radius: 2em;
    border-bottom-left-radius: 2em;
}

fieldset {
    padding: 0px;
}

ul li {
    list-style-type: none;
}

ol li {
    list-style-type: upper-roman;
}

dt::after {
    content: ":";
}

body {
    color: rgb(10, 16, 128);
    background-color: rgb(109, 133, 123);
    font-family: Merriweather, serif;
    line-height: 1.3;
}

h1,h2,h3 {
    font-family: "Fira Sans", sans-serif;
}

h1 {
    color: rgb(10, 16, 128, 0);
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,106,9,1) 0%, rgba(0,244,255,1) 100%);
    background-clip: text;
}

h2 {
    color: rgb(10, 16, 128);
}

h3 {
    color: rgb(10, 16, 128);
}

a {
    text-decoration: none;
    color: rgb(212, 130, 82);
}

a:hover {
    text-decoration: underline;
}

header {
    margin-right: -2em;
    margin-left: -2em;
    border-top: 4px solid rgba(0, 0, 0, 0.1);
}

header nav {
    margin-left: 2em;
    margin-right: 2em;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.3)
}

header nav ul {
    margin: 0px;
    padding: 0px;
    flex-wrap: nowrap;
}

header nav ul li {
    align-items: center;
    font-weight: bold;
    list-style-type: none;
    text-transform: uppercase;
    letter-spacing: 4px;
}

header a {
    color: rgba(92, 17, 82, 0.25);
    border-top: 4px solid rgba(0, 0, 0, 0);
    margin-top: -4px;
    margin-left: 16px;
    margin-right: 16px;
    padding-top: 1em;
    padding-bottom: 0.5em;
    display: inline-block;
}

header a:hover {
    color: rgb(59, 8, 52);
    border-top: 4px solid rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

*::selection {
    background-color: rgb(175, 26, 26);
}

table th {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-left: 1.0em;
    padding-right: 1.0em;
    background-color: rgba(0, 0, 0, 0.2);
}

table td {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-left: 1.0em;
    padding-right: 1.0em;
    background-color: rgba(0, 0, 0, 0.05);
}

table tr:nth-child(even) td {
    background-color: rgba(0, 0, 0, 0.15);
}

label {
    display: block;
}

fieldset ul {
    padding: 0;
    list-style-type: none;
}

fieldset ul li label {
    display: inline;
}

[type="submit"] {
    border: none;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 3em;
    padding-right: 3em;
    color: rgba(0, 0, 0, 0.5)
}